body {
    margin:8px;
    background-color:rgb(7, 94, 208);;
    color:Darkblue;
    font-family:"verdana";
    font-size:18px;
    justify-content: center;
    
  }
  #Socials{
    background-color:rgba(55,55,55,0.6);
    border: 10px solid black;
    border-radius: 40px;
  }

  #introudction1{
  background-color:rgb(55,55,55,0.6);
  color:Darkblue;
  border: 10px solid black;
  border-radius: 40px;
  margin-top: 30px;
  }
  #Hobby{
      background-color:rgb(55,55,55,0.6);
      color:rgb(7, 94, 208);
      border: 10px solid black;
      border-radius: 40px;
      }
  #Games{
    background-color:rgb(55,55,55,0.6);
    color:rgb(7, 94, 208);
    border: 10px solid black;
    border-radius: 40px;
  }
  #Manga{
    background-color:rgb(55,55,55,0.6);
    color:rgb(7, 94, 208);
    border: 10px solid black;
    border-radius: 40px;
  }

  #Programeer{
    background-color:rgb(55,55,55,0.6);
    color:rgb(7, 94, 208);
    border: 10px solid black;
    border-radius: 40px;
  }

  div {
    background-color:rgba (255,255,0.6);
    padding:30px;
    margin-bottom:30px;
    margin-left:25vw;
    width:50vw;
    color:red;
  
  
    
  }

  
  h1{
    font-size:3em;
    text-align: center;
    
  }
  h2{
    text-align: center;
    font: size 3em;
  }
  span{
    font-style:italic;
    color:white;
  }
  p{
    color:rgb(0,0,0);
    background-color:rgb(245, 245, 245);
    padding:0px;
    padding-bottom:50px;
    margin-bottom:2px;
    text-align: center;
  }
  
  ol {
    background-color:white;
    
  }
  img{
    width:100%;
  }
  
  a {
    color:black;
    text-decoration:none;
  }
  a:hover{
    text-decoration:underline;
  }
  a:visited{
    color:black;
  }

  nav{
    font: size 2px;
    text-align: center;
    flex: 1;
    justify-content: space-between;
  }
  nav a {
    padding: 10;
    flex: 1;
    text-align: center;
    background-color: white;
    text-decoration: none;
    color: red;
    font-size: 1.1em;
    transition: all 0.4s ease-out;
  }

  nav a:hover {
    background-color: darkblue;
  }
  header{
    background-color:darkblue;
    padding: 100px;
    margin: 100px;
    display:flex;
    justify-content:baseline;
    flex: 1;
    border: 10px solid black;
    border-radius: 100px;
  
  }

main{
  border: 10px solid black;
  margin:4vw;
  border-radius: 40px;
  
}
#nav1{
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 300px;
}
#img1 {
  max-width: 40%;
  height: 10%;
  flex:auto;
  display: inline-flex;
  margin-left: 30%;
  margin-top: 10%;
  border-radius: 4px;
  border: 10px solid black;
}
img{
  border-radius: 40px;
  border: 10px solid black;

}
div#hero {
  height: 100vh;
  background-image:
  url(../img/foto\ atal.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  color: blue;
  font-size: 1em;
  font-weight: bolder;
  border-radius: 100px;
  border: 10px solid black;
}